*, *:after, *:before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

canvas{
  display: block;
  position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.F {
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 1em,
      cornflowerblue 0,
      cornflowerblue 2em,
      transparent 0,
      transparent 3em,
      beige 0,
      beige 4em,
      transparent 0,
      transparent 5em,
      lightcoral 0,
      lightcoral 6em,
      transparent 0,
      transparent 7em,
      beige 0,
      beige 8em
    ),
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1em,
      snow 0,
      snow 2em,
      transparent 0,
      transparent 3em,
      wheat 0,
      wheat 4em,
      transparent 0,
      transparent 5em,
      wheat 0,
      wheat 6em
    );
  background-repeat: no-repeat;
  background-blend-mode: multiply; /* not support in IE11 */
}

/* div wrap all tags */
div.tags{
  float:left;
  top:calc(50% - 4vh);
}

.tags{
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  display: -webkit-box;  /* not support in IE11 */
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
}

/* My using tag */
.tag-container{
  width: 80vh;
  height: 80vh;
  margin: 0;
  position: relative;
  top: 5%;
  bottom: 10vw;
  overflow: hidden;
  /*-webkit-perspective: 80%;*/ /* not support in browser */
  /*perspective: 80%;*/
}

.tag{
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate3d(0,0,0);  /*applies a 3D transformation*/
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d; /*preserve position for child element */
  transform-style: preserve-3d; /* IE not support */
  -webkit-transition: -webkit-transform 1s;  /*element turnning*/
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

/* only on web, mobile use mouseenter */
.tag-container:hover .tag{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.tag-side{
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden; /*hide the back of the turned element*/
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tag-side.is-back{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 2;
}

/* controll content in tag */
.tag-text{
  width: 100%;
  padding: 0 0;
  color: #222;
  font-family: 'Microsoft JhengHei',serif;
  font: 1vw 'Sacramento', Cursive;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* mytag */
.tag-my-side {
  height: 70vh;
  margin-top: 3.5vw;
  padding-top: 0vw;  
  top: 0;
  display: -webkit-box;
  display: flex;  
}

.tag-my-side:before {
  content: " ";
  background: #e44f47;
  width: 50vh;
  height: 70vh;
  border-radius: 2em;
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.tag-my-side.is-back:before { 
  background: #b6dfde;
}

.tag-my-side:after {
  content: " ";
  background: rgba(0,0,0,0);
  width: 7vw;
  height: 7vw;
  border: 1.5vw solid #e44f47;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.tag-my-side.is-back:after {
  border-color: #b6dfde;
}

.tag-my-text {
  background: url(christmas-tree-with-star.svg) no-repeat;
  /*background: black;*/ 
  width: 50vh;
  height: 65vh;
  margin: 0 auto;
  margin-top: 6vh;
  /*border-radius:  0em 0em 99em 99em;*/
  color: white;
  z-index: 1;
  font-size: 8vh;
  text-align: center;
}

.tag-my-side.is-back .tag-my-text {
  background: url(logo-nippon.svg) no-repeat center;
  background-size: 50vh 50vh;
  color: black;
  font-size: 5vh;
}

/* bottom */
.rule-shape{
  width: 100%;
  color: white;
  font-size: 1.5vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 4vh;
  height: .5vh;
  margin-right: .1vw; 
  margin-left: .1vw;
}

.rule-shape:before,.rule-shape:after{
  content: "nippon express taiwan";
  height: .5vh;
  margin-bottom: 4vh;
  display: block;
  -webkit-box-flex: 2;
  flex-grow: 2;
  margin-right: .1vw; 
  margin-left: .1vw;
  background: white;
  right: .1vw;
  left: .1vw;
}

.rule-shape:before{
  margin-right: -2vw;
}

.rule-shape:after{
  margin-left: -2vw;
}

.rule-shape.sh-back{
  color: #e44f47;
} 

.rule-shape.sh-back:before,.rule-shape.sh-back:after{
  background: #e44f47;
}  

.rule-shape.sh-back:before{
  margin-right: -2vw;
}

.rule-shape.sh-back:after{
  margin-left: -2vw;
}