* {
	  		margin: 0;
	  		padding: 0;
	  		box-sizing: border-box;
		}
	
	
		html, body {
	  		height: 100vh;
	  		background: #eee;
	  		overflow: hidden;
		}
		
		*:before,*:after{
			content:'';
			display: block;
			position: absolute;
		}

		.landscape{
			position: relative;
	  		height: 90vh;
			background: #234;
			overflow: hidden;
		}
		
		.moon {
			position: absolute;
			left: 55%;
			bottom: 30vh;
			width:30vw; 
			height:30vw;
			margin: 0 0 0 -50px;
			border-radius: 99em;
			background: #ccc;
		}

		.moon:after {
			top: 20%;
	    	left: 25%;
	    	width: 7vw;
	  	 	height: 7vw;
	  		border-radius: 99em;
	  		background: rgba(0, 0, 0, 0.1);
			box-shadow: 8vw 11vw 0 1vw rgba(0, 0, 0, 0.1),
						12vw -3vw 0 -1vw rgba(0, 0, 0, 0.1),
						-1vw 10vw 0 -2vw rgba(0, 0, 0, 0.1),
						-2vw -5vw 0 -2.5vw rgba(0, 0, 0, 0.1),
						-4vw 5vw 0 -0.8vw rgba(0, 0, 0, 0.1); 			
		}

		.tree{
			position:absolute;
			left: 40%;
			bottom: 0vh;
			margin:0 0 0 -30vw;
		}

		.tree div{
			position: relative;
			float:left;
			display: block;
	  		width: 4vw;
	  		height: 6vw;
	  		margin: 0 10vw -1vw 0;
	  		background: #5C4033;
		}
		
		.tree div:before {
		    bottom: 6vw;
		    border: solid transparent;
		    content: " ";
		    height: 0;
		    width: 0;
		    position: absolute;
		    border-bottom-color: #eee;
		    border-width: 7vw;
		    left: 50%;
		    margin-left: -7vw;
	    }
		
		.tree div:after {
	  		bottom: 11vw;
	  		border: solid transparent;
	  		content: " ";
	  		height: 0;
	  		width: 0;
	  		position: absolute;
	  		border-bottom-color: #eee;
	  		border-width: 6vw;
	  		left: 50%;
	  		margin-left: -6vw;
		}

		.tree div span:before{
			bottom: 16vw;
			border: solid transparent;
			position: absolute;
			border-bottom-color: #eee;
			border-width: 4vw;
			left:50%; 
			margin-left: -4vw;
		}

		.tree div span:after {
	  		bottom: 19vw;
	  		border: solid transparent;
	  		content: " ";
	  		height: 0;
	  		width: 0;
	  		position: absolute;
	  		border-bottom-color: #eee;
	  		border-width: 3vw;
	  		left: 50%;
	  		margin-left: -3vw;
		}

		canvas{
			display: block;
			position: absolute;
	  		top: 0;
	  		left: 0;
	  		z-index: 1;
		}